# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
ENV/
.venv/

# Project caches and logs
cache/
logs/
output/
# Ignore mọi file trong input/
input/*

# Nhưng vẫn cho phép sample.txt
!input/sample.txt


# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/
.DS_Store
